<%- include('user-header')%>
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form action="#">
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="row">
                        <div class="col-md-8 order-md-2">
                          
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="kh_ten">Name</label>
                                    <input type="text" class="form-control my-2" name="kh_ten" id="nameInput" value=''>
                                    <small id="nameError" style="color: red;"></small>
                                </div>
                                <div class="col-md-12">
                                    <label for="kh_diachi">Address</label>
                                    <input type="text" class="form-control my-2" name="kh_diachi" id="diachiInput" value="">
                                    <small id="diachiError" style="color: red;"></small>
                                </div>
                                <div class="col-md-12">
                                    <label for="kh_dienthoai">Phone number</label>
                                    <input type="text" class="form-control my-2" name="kh_dienthoai" id="dienThoaiInput" value="">
                                    <small id="dienThoaiError" style="color: red;"></small>
                                </div>
                                <div class="col-md-12">
                                    <label for="kh_email">Email</label>
                                    <input type="text" class="form-control my-2" name="kh_email" id="emailInput" value="">
                                    <small id="emailError" style="color: red;"></small>
                                </div>
                            </div>
        
                            <h4 class="mb-3">Payments</h4>
                            <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                    <input id="httt-2" name="httt_ma" type="radio" class="custom-control-input" required="" value="2">
                                    <label class="custom-control-label" for="httt-2">VNPay</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="httt-3" name="httt_ma" type="radio" class="custom-control-input" required="" value="1" checked>
                                    <label class="custom-control-label" for="httt-3">Ship COD</label>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <button class="btn btn-success" type="submit" name="Pay" >Đặt hàng</button>
        
                        </div>
                       
        
                </div>
                </div>
                <!-- <div class="col-md-12 col-lg-6 col-xl-5">
                    <h2>Cart</h2>
                    <ul class="list" id="cart" >

                    </ul>
                    
                </div> -->
            </div>
        </form>
    </div>
</div>
<%- include('user-footer')%>